.Body-Text {
  font-size: 20px;
  font-family: "Character";
}

.Body-Text p:first-child::first-letter {
  padding: 0 0.3rem;
  margin: 0.7rem 0.3rem 0 0;
  font-size: 4rem;
  float: left;
  line-height: 0.7;
}

.Scrollable {
  position: relative;
  height: 100vh;
  left: 50vw;
  width: 50vw;
  overflow: scroll;
}

.Text-Container {
  padding: 25px 25px 50px 25px;
  background-color: white;
}

.Slider {
  position: absolute;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
}

.Slider-Item {
  width: 50vw;
  height: 100vh;
}

.Slider-Image {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.Title {
  font-family: "Crimson Text", serif;
  font-size: 3.5vw;
  line-height: 3.5vw;
}

.Avatar {
  height: 60px;
  width: 60px;
}

.Creator {
  margin-top: 25px;
  margin-bottom: 25px;
}

.Creator-Name {
  margin-left: 80px;
  margin-top: -50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.Date {
  margin-left: 80px;
  font-family: "Roboto", sans-serif;
  color: grey;
}

@media (max-width: 1200px) {
  .Body-Text {
    font-size: 20px;
  }

  .Title {
    font-size: 35px;
    line-height: 35px;
  }

  .Text-Container {
    padding: 25px 0px 50px 0px;
    background-color: white;
  }

  .Slider {
    position: relative;
    height: 80vw;
    max-height: 40vh;
  }

  .Slider {
    position: relative;
    height: 80vw;
    width: 100vw;
    max-height: 40vh;
  }

  .Slider-Item {
    height: 80vw;
    width: 100vw;
    max-height: 40vh;
  }

  .Slider-Image {
    height: 80vw;
    width: 100vw;
    max-height: 40vh;
  }

  .Scrollable {
    height: 70vh;
    width: 100vw;
    left: 0;
  }
}
